*{
    padding: 0;
    margin: 0;
}

.section1a ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.section1a li {
  float: left;
}

.section1a li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.section1a li a:hover:not(.active) {
  background-color: #111;
}

.section1a .active {
  background-color: #04AA6D;
}

/* section1  */
.headers{
  font-size: 100px;
  text-align: center;
  color: rgb(73, 240, 81);
}
.one{
  font-family: cursive;
  font-weight: 600;
}
.section1{
    color: #fff;
    padding-top: 225px;
  }
  .section1{
      background-image: url(image/bgbg.jpg);
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .container h4{
      text-align: center;
      align-items: flex-start;
      padding-bottom: -50%;
  }
  .container .section2 .ak{
    color: brown;
    margin-top: 1rem;
    text-align: center;
    font-size: 50px;
    padding-left: 100px;
  }
  .akb{
    color: red;
    text-align: center;
    padding-left: 3rem;
  }
  .pp{
    color: #fff;
    font-size: 30px;
  }
  .ppp{
    padding-top: 5px;
    font-size: 30px;
    color: #fff;
    padding-left: 200px;
  }
  .price{
    color: antiquewhite;
  }
  
  
.nav-item{
    justify-content: space-between;
    margin: 3%;
    margin-top: -200px;
}

/* section2 */
.section2{
    padding-top: 50px;
    color: black;
  }
  .section2{
      background-image: url(image/section2.jpg);
      width: 100%;
      height: 120vh;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .section2 p h2{
      align-content: center;
  }

  .three{
      size: 20%;
  }

  /* review  */
  .reviews{
    background-color: #04AA6D;
    height: 100vh;
    width: 100%;
  }
  .hello{
    text-align: center;
  }

  /* footer  */
  .containers{
    color: #fff;
    padding-top: 225px;
  }
  .reviews h2{
    align-items: center;
  }
  .containers{
      background-image: url(image/pizzamwitu-bg.jpg);
      width: 100%;
      height: 50vh;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 170px;
      padding-left: 60px;
  }

  /* cuisine-section */
.carousel-item.active, .carousel-item .view {
  height: 70vh!important;
}

.carousel-item img {
  object-fit: cover;
  width:100%!important;
  height: 100% !important;
}

.content h3 {
font-size: 55px;
}



/* order section */
.order{
  background-attachment: fixed;
  background-image: url("../images/pizzeria4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
}
.order-overlay{
  background-color: rgba(0, 0, 0, 0.8);
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: 20px;
  padding-left: 6%;
}
.order h2 {
  text-align: center;
}
.choice{
  display: none;
  padding-left: 2%;
  padding-right: 2%;
}
.deliver{
  display: none;
}
.pick-up{
  display: none;
  padding-left: 10%;
  padding-right: 10%;
}
td,th{
  font-size: 20px;
  color: white;
}
.choice h2{
  color:orange;
  text-align: left;
}
#your-orders{
  color: white;
  font-size: 30px;
}
#addedprice{
  display: none;
}
#finallmessage{
  display: none;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 28px;
}
#regards{
  text-align: center;
  color: aliceblue;
}
#info{
  padding-top: 5%;
  font-size: 22px;
  padding-right: 8%;
  padding-left: 5%;
  color: #ffa500;
}
button {
  border-radius: 15px;
  background-color: crimson;
}



  /* form syling */
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
  }
  
  /* nothing to see here */
  
  body {
    margin: 2em;
    border: 0;
  }
  
  h2 {
    text-align: left;
  }
  
  input[type="checkbox"] {
    margin: 0 0 1.5em 0;
  }
  
  select {
    margin: 0 0 0.5em 0.5em;
  }
  
  .textarea {
    margin: 0 0 1em 0;
  }